@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: black;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 85%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #1f242d;
}

.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    margin-top: 5px;
    animation: slideRight 1s ease forwards;
    background-color: #1f242d;
    position: relative;
}

.educationlogo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    margin-top: 30px;
    position: relative;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    position: relative;
    top: 0;
    background-color: #1f242d;

}

.navbar a:hover, .navbar a.active {
    color: gold;
}



.home{
    position: relative;
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}


.home-img img{
    max-width: 500px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;

}

.home-content{
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font: weight 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color:rgb(255, 217, 0);
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}


.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

/* .education-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    
} */

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid gold;
    border-radius: 50%;
    font-size: 20px;
    color: gold;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: gold;
    color: #1f242d;
    box-shadow: 0 0 20px gold;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: gold;
    border-radius: 40px;
    box-shadow: 0 0 10px gold;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.heading{
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
}
.education {
    padding: 100px 15px;
    background: black;
}

.education h2{
    margin-bottom: 5rem;
}
.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: "";
    /* position: calc(50%); */
    width: 5px;
    height: 100%;
    background-color: gold;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;

}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(even){
    padding-right: calc(50% +30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
    text-align: left;
}

.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: gold;
    box-shadow: 0 0 25px gold
                0 0 50px gold;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    top: 10px;

}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: black;
    border: 3px solid gold;
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 5px 0 10px #1f242d;
    cursor: pointer;
    width: 400px;
    transition: .3s ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px gold;
}

.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

/* KEYFRAMES ANIMATION */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}